These data came from duckdb document. This is a trail for window function.

In [15]:
import duckdb as ddb

conn = ddb.connect(database=':memory:')
conn.sql('CREATE TABLE power AS SELECT * FROM "power.csv"')
conn.execute('CREATE TABLE running_day AS SELECT DISTINCT "Date" FROM "power";')
conn.execute('CREATE TABLE plant AS SELECT DISTINCT "Plant" FROM "power";')
conn.execute('CREATE TABLE bs AS SELECT DISTINCT "BS" FROM "power";')
conn.execute('CREATE TABLE bs_plant AS SELECT * FROM "plant" CROSS JOIN "BS";')
conn.execute('CREATE TABLE bs_plant_running_day AS SELECT * FROM "bs_plant" CROSS JOIN "running_day";')
info = conn.execute('SHOW TABLES;').df()

info

                   name
0                    bs
1              bs_plant
2  bs_plant_running_day
3                 plant
4                 power
5           running_day

In [16]:
df = conn.execute('CREATE TABLE f2 AS SELECT * FROM "bs_plant_running_day" as b  LEFT OUTER JOIN "power" as p On (p.Date=b.Date and p.Plant=b.Plant and p.BS=b.BS) order by 1,3').df()
df

   Count
0    117

In [14]:
df = conn.execute('SELECT * FROM f2;').df()
df.to_csv('rrr.csv', index=False)